body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: .1em .1em 0 rgba(0,0,0,0.3);
    font-size: 3em;
    height: 100vh;
    background-image: url("skyy.png");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 5em;
}
body.sunny {
    background-image: url("skyy.png");
}
body.cloudy {
    background-image: url("cloudy.jpg");
}
body.rainy {
    background-image: url("rainy.jpg");
}
#sky {
	overflow: hidden;
}
